@import url('https://fonts.googleapis.com/css2?family=Libertinus+Serif+Display&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
.montserrat {font-family: "Montserrat", sans-serif;font-optical-sizing: auto;font-weight: 400;font-style: normal;}
.libertinus-serif-display-regular {font-family: "Libertinus Serif Display", system-ui;font-weight: 400;font-style: normal;font-size: 100px;}

.no-margin-top{margin-top:0;margin-bottom: 40px;padding-top:0px;}

script{display: none;}
*{ padding: 0; margin: 0; font-family: "Montserrat", sans-serif; font-optical-sizing: auto; font-style: normal; display: block;}
b, i{display: inline;}
.bold{font-weight: bold; margin-top: 20px;}
.inline{display: inline;}
.hidden{display: none;}
.show{display: block;}

quantity{display: inline;}

rep{border:1px solid #dadada;}
/*rep-container{display: none;}*/


.affiliate, .non-affiliate {margin: 5px 0px; font-size: 14px;}

body{width: 100%; display: flex; flex-direction: column; align-items: center; justify-content: center;}
main{width: 50%; display: flex; flex-direction: column; align-items: center;}

title{text-align: center; max-width: 100%; margin: 0px 0px 20px 0px; font-size: 50px;font-family: "Libertinus Serif Display", system-ui;font-weight: 400;font-style: normal; font-weight: bold;}
author, date{font-size: 14px;}
date{margin: 0px 0px 50px 0px;}

.big-img{width: auto;}
img{width: 500px; margin: 30px 0px 15px 0px;}
img-caption{margin: 20px 0px 60px 0px; font-size:14px;text-align: center;}

jumpToRecipe{border: 1px solid #dadada; margin: 60px 0px 0px 0px; padding: 15px; border-radius: 10px; width: 150px; text-align: center;}
jumpToRecipe:hover{cursor: pointer;}



star-rating-avg{display: flex; justify-content: center; align-items: center; height: 20px;}
.star-rating{width: 100%; height: 20px; margin: 0px 0px 0px 0px; display:flex; justify-content: center; align-items: center; }
.star-rating { display: flex; flex-direction: row-reverse; justify-content: flex-end; }
.star-rating input[type="radio"] {display: none; }
.star-rating label {margin: 0px 5px 0px 5px; cursor: pointer; width: 25px; height: 25px; background: url('./images/empty-star.png') no-repeat center center / contain;}
.star-rating input[type="radio"]:checked ~ label {background: url('./images/filled-star.png') no-repeat center center / contain; }
.star-rating label:hover, .star-rating label:hover ~ label {background: url('./images/filled-star.png') no-repeat center center / contain; }
hstack{width: 200px; display: flex; justify-content: space-around; align-items: center; margin: 20px 0px 70px 0px; height: 20px; }
rating{margin: 0px 0px 20px 0px; text-decoration: underline;}
numOfreviews{margin: 0px 20px 0px 0px;}
rating{margin-top: 50px; margin-bottom: 50px;}




/* MODAL */
/* Modal Button*/
.reply{border: 1px solid #dadada; margin: 20px 0px 20px 0px;}
.modal{padding: 5px; margin: 5px; width: 100px; border-radius: 5px; text-align: center; font-size: 12px; color: white; background-color: rgb(37, 37, 37);}
.modal-submit{height: 40px; padding: 5px; margin: 5px; width: 120px; border-radius: 5px; text-align: center; font-size: 12px; color: white; background-color: rgb(37, 37, 37);}
.modal-submit:hover{cursor: pointer;}
textarea{border-radius: 5px;}
.modal-submit{margin-bottom: 25px;}
modal-title{padding: 10px 0px 10px 0px; margin: 100px 0px 20px 0px; width: 100%; border-top: 1px solid #b5b5b5;border-bottom: 1px solid #b5b5b5;}
.close{margin: 0px 10px 0px 0px; float: right;font-weight: bold; display: flex; justify-content: center; align-items: center; width: 25px; height: 25px; font-size: 15px; border: 1px solid #dadada; background-color: red; color: white; border-radius: 50px;}
.close:hover,.close:focus {text-decoration: none;cursor: pointer;}
.close-div{width:100%; height: 200px;}
.modal-input{width: 90%; margin: 10px 10px 5px 10px;}
.modal-container{overflow: hidden; width: 100%; border: 1px solid #b5b5b5; margin: 100px 0px 0px 0px; border: 1px solid #b5b5b5;border-radius: 20px;box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1);}
.modal-container:hover{cursor: pointer;}
.modal-content {width: 100%;height: 100%;position:fixed;top:0px;bottom:0;left:0;right:0;display: none;flex-direction: column;overflow: auto;background-color: rgb(182, 182, 182); }
/* COMMENTS */
com-comments{width: 100%; display: flex; flex-direction: column; justify-content: center; align-items: center;}
comments-container{width: 100%; margin: 100px 0px 0px 0px; display:flex; flex-direction: column; justify-content: center; align-items: center;}
comment-container{width: 100%; margin: 20px 0px 20px 0px; border: 1px solid #b5b5b5;border-radius: 20px;box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1); padding: 10px 0px 10px 0px;display:flex; flex-direction: column; justify-content: center; align-items: center;}
reply-name, reply-comment, reply-rating, view-replies{padding: 10px; margin: 1px 5px 1px 5px; font-size: 12px;}
reply-date{padding: 1px 5px 1px 5px; margin: 5px; width: 100px; border-radius: 5px; text-align: center; font-size: 12px; border: 1px solid rgb(37, 37, 37);}
reply-button{padding: 5px; margin: 5px; width: 100px; border-radius: 5px; text-align: center; font-size: 12px; color: white; background-color: rgb(37, 37, 37);}
view-replies:hover, reply-button:hover{cursor: pointer;}
reply-button:hover{color: black; background-color: white; border: 1px solid;}
view-replies:hover{color: red;}
view-replies{text-decoration: underline;}
star-rating-comment{display: flex; padding: 10px; height: 15px; }
.comment-star{width: 15px; height: 15px; margin:0;}
form{display: flex; flex-direction: column; justify-content: center; align-items: center; width: 100%;}
input{border-radius: 5px; margin:10px 0px 10px 0px; height: 30px; width: 100%; padding: 10px; border: 1px solid #dadada;font-size: 15px; }
textarea{margin: 20px 0px 20px 0px; height: 250px; width: 100%; padding: 10px; border: 1px solid #dadada; font-size: 15px;}
.submit{height: 50px; width: 100%; padding: 10px; color: white; background-color: black; display: flex; justify-content: center; align-items: center;}
.submit:hover{cursor: pointer;}
.star, .rating-star{width: 20px; height: 20px; margin: 5px;}
.star:hover{cursor: pointer;}


people{display: inline;}
serving-buttons{border: 1px solid #dadada; border-radius: 20px; overflow: hidden; display: flex; justify-content: center; align-items: center; margin-top: 70px;}
decrease-serving, serving-div, increase-serving{ display: flex; justify-content: center; align-items: center; width: 70px; height: 50px; border: 1px solid #dadada; text-align: center; font-size: 20px;}
decrease-serving, increase-serving:hover{cursor: pointer;}



tog{width: 25px; height: 25px; border-radius: 100%; background-color: #ffffff;}
tog:hover{cursor: pointer;}
cook-mode{width: 60px; height: 25px; padding: 3px; border-radius: 20px; background-color: rgb(206, 207, 208); margin: 20px 0px 0px 0px;}
.right-align{display: flex; justify-content: right; background-color: black;}

.print{color: black; text-decoration: none; border: 1px solid #dadada; border-radius: 10px; margin: 15px 0px 15px 0px; height: 50px; width: 150px; border: 1px solid #dadada; display: flex; justify-content: center; align-items: center;}
.print:hover, pinterest:hover{cursor: pointer;}
pinterest{margin: 15px 0px 15px 0px; border-radius: 10px; height: 50px; width: 150px; border: 2px solid white; background-color: red; color: white; font-weight: bold;display: flex; justify-content: center; align-items: center;}






intro{margin: 70px 0px 10px 0px; font-family: "Libertinus Serif Display", system-ui;font-style: normal;font-size: 30px; font-weight: bold;}
h1{margin: 70px 0px 20px 0px; font-family: "Libertinus Serif Display", system-ui; font-style: normal; font-size: 40px; font-weight: bold;text-decoration: underline;}
h2{margin: 70px 0px 10px 0px; font-family: "Libertinus Serif Display", system-ui;font-style: normal;font-size: 30px; font-weight: bold;}
h3{margin: 70px 0px 10px 0px; font-family: "Libertinus Serif Display", system-ui;font-style: normal;font-size: 20px; font-weight: bold;}
h4{margin: 50px 0px 0px 0px; font-size: 16px; font-weight: bold;}
p, tip, note{line-height: 25px; font-size: 15px; margin: 0px;}
h1, h2, intro, h3, h4 {padding: 20px 15px 20px 15px;}
p, tip, note{padding: 10px 15px 10px 15px;}
h1, h2, intro, h3, h4, p, tip, note {width: 90%;}
tip, note{font-weight: 500; font-style: italic;}
info, a {width: 90%; margin: 20px 0px 20px 0px;}
tiny-text{ font-size:14px;text-align: center; margin: 20px 0px 0px 0px;}
@media(max-width: 1000px){main{width: 70%;} }
@media(max-width: 800px){main{width: 85%;} img{width: 500px;}}
@media(max-width: 600px){main{width: 75%;} img{width: 400px;}}
@media(max-width: 500px){img{width: 300px;}}
@media(max-width: 400px){img{width: 280px;}}